<strong>Hi {{ deliveryman }}!</strong>
<p>A new delivery was designated to you! </p>
<p>See below more details:</p>

<strong>Delivery nยบ: </strong>{{ deliveryid }}<br />

<p>
  <strong>Receiver: </strong> {{ receiver }} <br />
  <strong>Product: </strong> {{ product }}<br />

  <strong>Address: </strong>{{ street }},{{ number }},{{ zipCode }},{{ city }}, {{ country }},
  <strong>Complement: </strong> {{ complement }}
</p>
